.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(200, 200, 200);
    color: #37393a;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
}
  